<form class="form">
  <h1 class="form-title">Login</h1>
  <div class="alert mb-sm mt-sm">placeholder</div>
  <div class="form-group mb-lg">
    <input
      type="text"
      id="username"
      name="username"
      class="form-input"
      placeholder="Username"
    />
  </div>
  <div class="form-group mb-lg">
    <input
      type="password"
      id="password"
      name="password"
      class="form-input"
      placeholder="Password"
    />
  </div>
  <input class="form-btn-submit mb-lg" type="submit" value="Log In" />
  <p class="text-primary">
    Don't have an account? <a class="link-primary" href="/register">Register</a>
  </p>
</form>
<script>
  const form = document.querySelector('form');
  const error = document.getElementsByClassName('alert')[0];

  form.addEventListener('submit', async (e) => {

    e.preventDefault(); 
    
    const username = form.username.value;
    const password = form.password.value;
    try {
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({ username, password }),
        headers: { 'Content-type': 'application/json' },
      });

      const data = await res.json();

      if (data.status === 'fail') {
        error.className = 'alert alert-danger alert-fadeable mb-sm mt-sm';
        error.textContent = data.message;
        form.username.value = '';
        form.password.value = '';
        setTimeout(() => {
            error.className = 'alert mb-sm mt-sm';
            error.textContent = 'placeholder';
        }, 2500);
      } else {
        location.assign('/');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
