<form class="form">
  <h1 class="form-title">Sell</h1>
  <div class="alert mb-sm mt-sm">&nbsp;</div>
  <div class="form-group mb-sm">
    <select class="form-select" name="symbol" id="symbol"></select>
  </div>
  <div class="form-group mb-sm">
    <input
      type="number"
      name="shares"
      id="shares"
      class="form-input"
      placeholder="Number of shares"
    />
  </div>
  <input class="form-btn-submit mb-sm" type="submit" value="Sell" />
</form>
<script>
  const form = document.querySelector('form');
  const error = document.getElementsByClassName('alert')[0];
  window.addEventListener('load', async () => {
    try {
      const res1 = await fetch('/stocks/getStocks');
      const stocks = await res1.json();
      const symbolSelect = document.getElementById('symbol');
      if(stocks.data.length){
        stocks.data.forEach(stock => {
          symbolSelect.innerHTML += `<option value="${stock.symbol}">${stock.symbol}</option>`;
        });
      } else {
        symbolSelect.innerHTML = `<option disabled selected="selected">You have no stocks</option>`
      }
    } catch (err) {
      console.log(err);
    }
  });
  form.addEventListener('submit', async (e) => {
    const symbol = form.symbol.value;
    const shares = form.shares.value;
    e.preventDefault();
    try {
      const res = await fetch('/stocks/sell', {
        method: 'POST',
        body: JSON.stringify({ symbol, shares }),
        headers: { 'Content-type': 'application/json' },
      });

      const data = await res.json();

      if (data.status === 'fail') {
        console.log(data);
        error.className = 'alert alert-danger alert-fadeable mb-sm mt-sm';
        error.textContent = data.message;
        setTimeout(() => {
          error.className = 'alert mb-sm mt-sm';
          error.textContent = String.fromCharCode(160);
        }, 2500);
      } else {
          location.assign('/');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
