$color-primary: #45b649;
$color-danger-1: #6f0000;
$color-danger-2: #eb5757;
$color-success-1: #38ef7d;
$color-info-1: #4286f4;
$color-gray-light: #eee;
$color-gray-dark: #aaa;
$color-white: #fff;
$color-black: #0f2027;
